@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap");

$FONT-QUICKSAND : "Quicksand", sans-serif;
$FONT-FIRA_SANS : "Fira Sans", sans-serif;
$FONT-PT_SERIF : "PT Serif", serif;
$FONT-MONTSERRAT : "Montserrat", sans-serif;
$FONT-LATO : "Lato", sans-serif;
$FONT-RALEWAY : "Raleway", sans-serif;
$FONT-PT_SANS_CAPTION : "PT Sans Caption", sans-serif;

$APP_HEADER_COLOR : #D5DDFF;
$APP_HEADER_BAR_COLOR : #E9EEFF;
$APP_BACKGROUND_COLOR : #FCFDFF;
$APP_COLOR_BORDER : rgba(133, 145, 255, 0.55);
$APP_POPUP_SHADOW : 0px 4px 21px rgba(0, 26, 255, 0.28);
$BOX_SHADOW_SOFT_1 : 0px 3px 6px .3px rgba(0, 26, 255, .06);
$BOX_SHADOW_SOFT_2 : 0px 3px 6px .3px rgba(0, 26, 255, .03);
$PROGRESS_COLOR_CONTAINER : #D5DDFF;
$PROGRESS_COLOR : #7A87C1;
$COLOR_TIMESTAMP : #6C71F3;
$COLOR_BG_TIMESTAMP : #F6F7FF;
$COLOR_BLACK-1 : #272727;
$COLOR_ORANGE-1 : #F5C275;
$COLOR_PURPLE-1 : #7593F5;
$COLOR_CYAN-1 : #32B2DB;
$COLOR_PURPLE-ACTION : #547EDF;
$COLOR_BLUE-ACTION : #3ED0FF;
$COLOR_RED-ACTION : #FF408E;
$COLOR_GREEN-ACTION : #60E28B;
$THUMB_COLOR_PYTHON : #FF9D8E;
$THUMB_COLOR_PYTHON_2 : #FFCE8E;
$THUMB_COLOR_RUBY : #FF8EB8;
$THUMB_COLOR_CSHARP : #8ECEFF;
$THUMB_COLOR_JAVASCRIPT : #FFE58E;
$THUMB_COLOR_CPP : #8ECEFF;
$THUMB_COLOR_CSS : #8EBBFF;

$ICON_CUTE_PYTHON : "../resources/icons/python_127px.png";
$ICON_CUTE_JAVASCRIPT : "../resources/icons/javascript_127px.png";
$ICON_CUTE_CPP : "../resources/icons/cpp_127px.png";
$ICON_CUTE_JAVA : "../resources/icons/java_127px.png";
$ICON_CUTE_RUBY : "../resources/icons/ruby_127px.png";
$ICON_CUTE_HTML : "../resources/icons/html_127px.png";
$ICON_CUTE_CSS : "../resources/icons/css_127px.png";
$ICON_CUTE_PHP : "../resources/icons/php_127px.png";
$ICON_CUTE_REACT : "../resources/icons/react_127px.png";
$ICON_CUTE_C : "../resources/icons/c_127px.png";
$ICON_CUTE_SQL : "../resources/icons/sql_127px.png";
$ICON_CUTE_CSHARP : "../resources/icons/csharp_127px.png";